@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&display=swap');

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  background-color: #0d0d0d;
  color: #fff;
  overflow-x: hidden;
}

h1, h2, p {
  margin: 0.5rem 0;
}
